@font-face {
    font-family: roboto-mono;
    src: url(./assets/fonts/RobotoMono-Medium.ttf);
}
/* GENERAL STYLING */
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body{
    margin: 0;
    background-color: #B9EEEB;
    font-family: roboto-mono;
}
section {
    scroll-snap-align: start;
    height: 100vh;
}
#mainContainer{
    width: 90%;
    margin: auto;
    background-color: white;
    box-shadow: 1px 1px 30px gray;
}
h1 {
    text-align: center;
}
.longLine {
    width: 80%;
    margin-bottom: 150px;
}
.title_sec {
    padding-top: 20px;
}
/*************** HOME SECTION ***************/
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    margin-bottom: 100px;
}
#headerLeft {
    display: flex;
    align-items: center;
}
#headerLeft p {
    font-size: 25px;
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    padding-left: 0px;
}
ul li {
    margin: 0 15px;
    font-size: 20px;
}
ul li:hover{
    text-decoration: underline;
}
li a {
    text-decoration: none;
    color: black;
}
#centralAnimation{
    width: 80%;
    margin: auto;
}

/*************** ABOUT ME ***************/
#central {
    width: 75%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#profilePicWrapper {
    max-height: 450px;
}
#profilePicture {
    width: 300px;
    background-color: gray;
    position: relative;
    z-index: 1;
    filter: drop-shadow(2px 4px 6px black);
}
#profileDec {
    position: relative;
    left: -27px;
    bottom: 180px;
    z-index: 0;
    width: 200px;
    height: 200px;
    background-color: #B9EEEB;;
}
#profileContent {
    width: 550px;
    height: 450px;
}
h4 {
    text-align: justify;
}
.flag {
    width: 1.8rem;
}


/********** SKILLS **********/
#skills {
    width: 80%;
    padding-top: 80px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#skills img{
    height: 100px;
}
#all_cards{
    width: 70%;
    margin: 0 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.one_card {
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.one_card img {
    width: 125px;
    height: 125px;
}

/********** PORTFOLIO **********/
#port_cards {
    width: 70%;
    margin: 0 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.port_card {
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    width: 430px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
.title {
    text-align: center;
}
.code{
    display: none;
    color: black;
}
.port_card:hover {
    filter: grayscale(1);
    
}
.port_card:hover .code {
    display: block;
    font-size: 20px;
    background-color: white;
    padding: 5px 8px;
}

/********** CONTACT ME **********/
#contactDiv{
    width: 80%;
    height: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#email a {
    border-radius: 50px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding: 5px 32px;
    border: 3px solid black;
}
#email a:hover {
    background-color: black;
    color: white;
}
#linkedin a {
    border-radius: 50px;
    color: #0A66C2;
    text-decoration: none;
    font-size: 30px;
    padding: 5px 20px;
    border: 3px solid #0A66C2;
}
.fa-linkedin{
    color: #0A66C2;
    font-size: 30px;
}
#linkedin a:hover {
    background-color: #0A66C2;
    color: white;
}
#linkedin a:hover .fa-linkedin{
    color: white;
}