@font-face {
    font-family: roboto-mono;
    src: url(./assets/fonts/RobotoMono-Medium.ttf);
}
* {
    font-family: roboto-mono;
}

body{
    margin: 0;
    background-color: #B9EEEB;@font-face {
    font-family: roboto-mono;
    src: url(./assets/fonts/RobotoMono-Medium.ttf);
}
}

#mainContainer{
    width: 90%;
    height: 100vh;
    margin: auto;
    background-color: white;
}


h1, h2{
    color: #263547;
}